/* CONFIGURACIÓN para TODOS los BOTONES */
table .btn {
  background-color: #F5F5F5 !important;
  border: none;
  border-radius: 50%;
  /*width: 30px !important;
  height: 30px !important;*/
  padding: 8px;
}
/* FIX | SACAR TODAS LAS DESCRIPCIONES DE LOS BOTONES */
table .btn span {
  display: none;
}

table .btn:hover {
  border: 0px;
  border-radius: 50%;
}
table .btn i {
  color: #424242 !important;
  transform: scale(1.3);
}
table .btn:hover i {
  color: #F5F5F5 !important;
}


.btn-warning:hover {
  background-color: #ffc425 !important;
}

.btn-success:hover {
  background-color: #69F0AE !important;
}

.btn-danger:hover {
  background-color: #ef3e42 !important;
}

.btn-info:hover {
  background-color: #0067b1 !important;
}

.btn-infoBuscar {
  color: #0067b1;
  font-family: Roboto-Condensed;
  font-weight: bold;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /*border-radius: 3px;*/
}

.btn-infoBuscar i {
  margin-right: 5px;
}

.btn-infoBuscar:hover {
  border-radius: 3px;
  background-color: #2962FF !important;
  color: #ffff !important;
}
/*BOTON PARA NUEVA MAQUINA, MOVIMIENTOS*/
  .boton_2{
    text-decoration: none;
    padding: 40px;
    font-family: Roboto-Condensed;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    background-color: #0067b1;
    display: inline !important;
  }
  .boton_2:hover{
    color: #2962FF;
    background-color: #2962FF !important;
    text-decoration: none;
  }
