/*

    CSS Para las pantallas más chicas

*/

@media (max-width: 1400px) {

    /* CONFIGURACION DE LA PANTALLA */

    header {
      margin-left: 220px;
      height: 60px;
    }

    nav {
      min-height: 60px;
    }

    nav > span {
      margin: 5px 15px 0px 15px !important;
    }
    .tituloSeccionPantalla {
      margin: 13px 0px 0px 10px;
      padding: 5px;
    }
    .iconoAyuda {
      margin: 13px 0px 0px 10px;
    }

    .opcionesBarraSuperior {
      margin-top: 15px;
    }
    .opcionesBarraSuperior span.badge {
      height: auto !important;
    }

    aside, .contenedorLogo, .opcionesMenu, .contenedorUsuario {
      width: 220px;
    }

    .contenedorMenu {
      width: 220px;
    }

    .contenedorLogo {
      height: 60px;
    }

    .contenedorLogo img {
      width: 45%;
    }

    .contenedorUsuario {
      top: 60px;
    }

    .contenedorVistaPrincipal {
      /*position: absolute;*/
      height: calc(100% - 60px);
      margin-left: 220px;
    }

    .contenedorVistaPrincipal section {
      padding: 15px;
    }

    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
    }

    /*.footer-links {
        display: none !important;
    }*/

    /* FUENTES */

    .panel select, .panel input, table td {
      font-size: 14px;
    }

    .panel h4 {
      font-size: 14px;
    }
    .panel h5 {
      font-size: 12px;
    }

    .opcionesMenu span {
      font-size: 12px;
    }

    .contenedorUsuario h3 {
      font-size: 20px;
    }
    .contenedorUsuario h4 {
      font-size: 16px;
    }
    .opcionPaginacion {
      font-size: 12px !important;
    }

    /* MENÚ */
    .fondoMEL, .fondoROS, .fondoSFE {
        height: 160px;
    }

    .contenedorUsuario {
      height: 170px;
    }

    .opcionesMenu {
      /*padding-top: 175px;*/
      margin: 180px 0px 0px 0px;
      height: calc(100% - 180px);
    }

    .subMenu1 li div {
      padding-left: 30px;
    }
    .subMenu2 li div {
      padding-left: 45px;
    }
    .subMenu3 li div {
      padding-left: 60px;
    }

    /* TABLAS */
    table .btn {
      padding: 4px;
    }

    table th {
      font-size: 12px;
    }

    .modal h3 {
        font-size: 20px;
    }

    .navModal a h4 {
      font-size: 16px !important;
    }

    /* MODAL */
    .modal h5 {
      font-size: 12px;
    }


    /* INPUTS */
    input.form-control, select.form-control {
      height: 30px;
      font-size: 14px;
      padding: 6px 12px;
    }
    textarea.form-control {
      font-size: 14px;
      padding: 6px 12px;
    }

    .input-group-btn {
      height: 30px;
    }
    .input-group-btn button {
      padding: 4px 12px;
    }

}
