.modal .modal-title {
  color: #fff;
}

.modal .modal-titleEliminar{
  color: #ef3e42;
}

.modal .modal-titleModificar{
  color: #FFB74D;
}

.modal .row {
  box-sizing: border-box !important;
  margin: 0px -15px !important;
}

.modal .row > div {
  padding: 0px 15px !important;
}

.modal h3 {
  /*font-size: 12px;*/
  font-weight: 700;
  font-family: Roboto-Condensed;
}

.modal h6 {
  font-size: 18px;
  font-family: Roboto-Condensed;
}

.modal h5 {
  padding-left: 12px;
  font-size: 15px;
  font-weight: bold;
  font-family: Roboto-Regular;
  color: #aaa !important;
  text-transform: uppercase;
}
.modal h7{
  padding-left: 12px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #aaa !important;
  text-transform: capitalize;
}
.modal input {
  /*margin: 0px 10px !important;*/
  /*border-radius: 0px;*/
  /*border: none;*/
  /*border-bottom: 2px solid #BBDEFB;*/

  /*box-shadow: none;*/
  /*transition: none;*/

  font-size: 16px;
  font-family: Roboto-Regular;
}

.modal input:hover, .modal input:active, .modal input:focus {
  /*box-shadow: none;*/
}

.modal select {
  font-size: 16px;
  font-family: Roboto-Regular;
}

.modal textarea {
  font-size: 16px;
  font-family: Roboto-Regular;
}

/*** CHECK BOX ***/
.modal input[type="checkbox"] {
  position: relative;
  top: 3px;
  left: -4px;
}

.modal .NivelProgresivo {
    margin-bottom: 15px !important;
}


/*** BOTONES DEL MODAL ***/

/* botones del FOOTER */
.modal .modal-footer .btn {
  border: none;
  border-radius: 2px;
  color: white;
  font-family: Roboto-Condensed;
  font-weight: bold;
  font-size: 15px;

  background-color: white !important;
  color: #888;

  padding-left: 15px !important;
  padding-right: 15px !important;
}

.modal .modal-footer .btn-successAceptar {
  background-color: #6dc7be !important;
  color: white;
}

.modal .modal-footer .btn-warningModificar {
  background-color: #ff9d2d !important;
  color: white;
}

.modal .modal-footer .btn-dangerEliminar {
  background-color: #ef3e42 !important;
  color: white;
}

.modal .modal-footer .btn-informacion {
  background-color: #46b8da !important;
  color: white;
}

.modal .btn-default {
  background-color: white !important;
  color: #888;
}

.modal .btn-default:hover {
  background-color: #aaa !important;
  color: white;
}

/* BOTONES DE ACCION DENTRO DEL MODAL */
.modal .btn-deAccion {
  border: none !important;
  border-radius: 2px !important;
  font-family: Roboto-Condensed;
  font-weight: bold;
  font-size: 15px;
  background-color: white !important;
  color: #888;

  padding-left: 15px !important;
  padding-right: 15px !important;
}

.modal .btn-defaultAccion:hover {
  background-color: #aaa !important;
  color: white;
}

.modal .btn-successAccion:hover {
  background-color: #6DC7BE !important;
  color: white;
}
/* botones del BODY */
/*.modal .modal-body .btn {
  margin: 0px !important;
  padding: 7px 8px !important;
  border: 0px;
  background-color: white;
}
.modal .modal-body .btn:hover {
  border-radius: 50%;
}*/

.modal .modal-body .btn i {
  color: #424242 !important;
  transform: scale(1.3);
}
.modal .modal-body .btn:hover i {
  color: white !important;
}

.modal .modal-body .btn-danger:hover {
  background-color: #ef3e42 !important;
  color: white;
}


.modal .modal-body .borrarFila, #btn-agregarNivelProgresivo {
  margin: 0px !important;
  padding: 7px 8px !important;
  border: 0px;
  background-color: white;
}
.modal .modal-body .borrarFila:hover, #btn-agregarNivelProgresivo:hover {
  border-radius: 50%;
}

/* PERMISOS para la seccion USUARIOS */
.tagPermiso {
  text-transform: uppercase;
  /*background-color: #FFA726;*/
  color: #444;
  font-weight: bold;
  font-size: 11px;
  font-family: Roboto-Regular;
  margin: 4px;
  padding:5px 10px;
  border: 2px solid #bbb;
  border-radius:5px;
  display:inline-block;
}

/* PERMISOS para la seccion USUARIOS */
.tagSeccion {
  text-transform: uppercase;
  /*background-color: #FFA726;*/
  color: #444;
  font-weight: bold;
  font-size: 11px;
  font-family: Roboto-Regular;
  margin: 4px;
  padding:5px 10px;
  border: 2px solid #bbb;
  border-radius:5px;
  display:inline-block;
}



/****** MODAL DE LAYOUT PARCIAL   *******/
/* Bordes para cada fila de máquina */
.filaMaquinaLayout:first-child {
  border-top:1px solid #ccc;
}
.filaMaquinaLayout {
  /*border-top:1px solid #ccc;*/
  border-bottom:1px solid #ccc;
  padding:5px 10px 20px 10px !important;
}
/* Ajustar check dentro del group input */
.inputConCheck .input-group-addon{
  padding: 6px !important;
}
.inputConCheck .input-group-addon input{
  top:0px; left:0px;
}
/* Botón progresivo */
.btn-progresivo {
  cursor: pointer;
  color:black !important;
  background:none !important;
}
.btn-progresivo:hover {
  color:black !important;
  background:none !important;
}
.btn-progresivo i {
  transform: scale(1.3);
}
.tituloProgresivo {
  font-family: Roboto-Regular; font-size: 16px;
  margin:34px 0px 0px 0px !important;color:#333 !important;
}
.tituloNiveles {
  margin-top: 20px !important;
  font-family: Roboto-Regular; font-size: 16px !important; color:#333 !important;
}


#modalCargaControlLayout .filaMaquinaLayout:nth-child(odd) { background-color:#FFF3E0 !important; }
#modalValidarControl .filaMaquinaLayout:nth-child(odd) { background-color:#E8F5E9 !important; }

/*** VALIDACIÓN ***/
.form-control.alerta {
  border-color: #EF5350;
  border-width: 3px;
}

/** MODAL MÁQUINA **/
.seccion i.aviso {
  color: red;
  display: inline;
  margin-left: 20px;
  margin-right: 10px;
}

.seccion p {
  font-family: Roboto-Regular;
  font-size: 16px;
  display: inline;
}


/* botón POP Over */
.btn-ayuda {
  position: absolute;
  left:35px;
  top:15px;
  background:white;
  border: none;
  border-radius: 50%;
  width: 30px;

  /*animation: saltoAyuda 2s ease infinite;*/
  animation: rotaAyuda 5s linear infinite;
}
@keyframes rotaAyuda {
    0%    {transform: rotate(0deg);}
    26%   {transform: rotate(0deg);}
    28%   {transform: rotate(-30deg);}
    32%   {transform: rotate(+30deg);}
    34%   {transform: rotate(0deg);}
    92%   {transform: rotate(0deg);}
    94%   {transform: rotate(90deg);}
    96%   {transform: rotate(180deg);}
    98%   {transform: rotate(270deg);}
    100%  {transform: rotate(360deg);}
}

@keyframes saltoAyuda {
    0%   {top:15px;}
    92%  {top:15px;}
    94%  {top:22px;}
    96%  {top:15px;}
    98%  {top:22px;}
    100% {top:15px;}
}

.btn-ayuda i {
  /*background-color: white;*/
  position: relative;
  left: -3px;
  top: 1px;
}
.btn-ayuda:hover {
  transform: scale(1.2);
}
/* POP Over */
.modal-header .popover {
  position: absolute !important;
  left: 20px !important;
  min-width: 700px !important;
}
.modal-header .popover .arrow {
  left: 30px !important;
}
.modal-header .popover .popover-title {
  background-color: #fff;
  height: 42px;
  color: black;
  padding-top: 12px;
  font-family: Roboto-Condensed;
  font-weight: normal;
  font-size: 22px;
}
.modal-header .popover .popover-content {
  color: #333;
  padding: 25px;
  text-align: left;
}
