#mensajeExito {
  position: fixed;
  top: 80px;
  text-align: center;
  width: 30%;
  left: 35%;

  height:auto; background:#f5f5f5; border-radius:10px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 5000 !important;
  animation: salida 2s forwards !important;
}
/* FIJAR EL MENSAJE (cambia la animación) */
#mensajeExito.fijarMensaje {
  animation: fijarMensaje 100ms forwards;
}



#mensajeExito .cabeceraMensaje {
 height:60px;background:#1DE9B6;border-radius:10px 10px 0px 0px;
}
#mensajeExito .cabeceraMensaje.modificar {
 background:#FF5722;
}



#mensajeExito .iconoMensaje {
  display:inline-block; background:white; width:80px; height:80px; border-radius:50%; position:relative; top:-40px;
}

#mensajeExito .iconoMensaje img {
  height:80px;
}

#mensajeExito .textoMensaje {
  position:relative; top:-30px; padding: 0px 30px 0px 30px;
}

#mensajeExito .textoMensaje h3 {
  font-family:Roboto-Condensed;font-size:25px; font-weight:bold;
}

#mensajeExito .textoMensaje p {
  font-family:Roboto-Regular;font-size:18px;
}

@media (max-width: 1400px) {
  #mensajeExito {
      top:30px;
      width: 50%;
      left: 25%;
  }
}

@media (max-width: 1023px) {
  #mensajeExito {
      top:30px;
      width: 60%;
      left: 20%;
  }
}

@media (max-width: 799px) {
  #mensajeExito {
      top:10px;
      width: 90%;
      left: 5%;
  }
}

/* SALIDA - IDA Y VUELTA */
@-moz-keyframes salida {
  0%   { transform: translate(0px,-700px);}
  2% { transform: translate(0px,20px);}
  3% { transform: translate(0px,0px);}
  90% { transform: translate(0px,0px);}
  100% { transform: translate(0px,-700px);}
}

@-webkit-keyframes salida {
  0%   { transform: translate(0px,-700px);}
  2% { transform: translate(0px,20px);}
  3% { transform: translate(0px,0px);}
  90% { transform: translate(0px,0px);}
  100% { transform: translate(0px,-700px);}
}

/* SOLO SALIDA */
@-moz-keyframes fijarMensaje {
  0%   { transform: translate(0px,-700px);}
  70% { transform: translate(0px,50px);}
  100% { transform: translate(0px,0px);}
}

@-webkit-keyframes fijarMensaje {
  0%   { transform: translate(0px,-700px);}
  70% { transform: translate(0px,50px);}
  100% { transform: translate(0px,0px);}
}

/* MOSTRAR O NO LOS BOTONES */
#mensajeExito .botonesMensaje {
  display: none;
}
#mensajeExito.mostrarBotones .botonesMensaje {
  display: inline-block;
}

.botonesMensaje {
    padding-bottom: 30px;
}

.botonesMensaje button {
    border: none;
    border-radius: 0px;
    font-family: Roboto-Condensed;
    font-size: 16px;
    font-weight: 700;
}

.botonesMensaje .btn-success {
    background-color: #1DE9B6 !important;
}

.botonesMensaje .btn-default {
    color: #555;
}
